<div class="concentrationnotifier chat-card dnd5e2" data-uuid="{{actor.uuid}}">
  <div class="details">{{{details}}}</div>
  {{#if (or showUtilButtons isPrompt)}}
  <div class="card-buttons">
    {{#if isPrompt}}
    <button data-prompt="save" data-dc="{{dc}}" data-ability="{{ability}}" data-uuid="{{actor.uuid}}">
      <i class="fa-solid fa-shield-heart"></i> {{localize "DND5E.SavingThrowDC" dc=dc ability=saveType}}
    </button>
    {{/if}}
    {{#if (or showEnd isPrompt)}}
    <button data-prompt="end" data-uuid="{{effect.uuid}}">
      <i class="fa-solid fa-times"></i> {{localize "CN.ButtonEndConcentration"}}
    </button>
    {{/if}}
    {{#if hasTemplates}}
    <button data-prompt="templates" data-origin="{{origin}}">
      <i class="fa-solid fa-ruler-combined"></i> {{localize "CN.ButtonRemoveTemplates"}}
    </button>
    {{/if}}
  </div>
  {{/if}}
</div>
